$primary: #5a43d0;
$primary-variant: #201a3a;
$text: #333;

// COLORS
$white: #fff;
$light-grey: #eee;
$black: #000;
$dark: #2c283b;
$light: #eee6fe;

// LINKS
$visited: #b0a0ff;
$hover: #c00;

html.dark,
body.dark {
    color: $light;
    background-color: $dark;

    blockquote {
        color: $dark;
    }
    code {
        color: $dark;
        background-color: $light;
    }
}

html.light,
body.light {
    color: $dark;
    background-color: $light;
    .header {
        a {
            color: $light;
        }
    }

    code {
        color: $light;
        background-color: $dark;
    }
    a {
        color: $primary;
    }
}
