$primary: #272270;
$primary-variant: rgb(40, 36, 56);
$text: #333;

// COLORS
$white: #fff;
$light-grey: #eee;
$black: #000;
$dark: #2e2c43;
$light: #eee6fe;

// LINKS
$visited: #b0a0ff;
$hover: #b76d24;

html.dark,
body.dark {
    color: $light;
    background-color: $dark;

    blockquote {
        color: $dark;
    }
    code {
        color: $dark;
        background-color: $light;
    }
}

html.light,
body.light {
    color: $dark;
    background-color: $light;
    .header {
        a {
            color: $light;
        }
    }

    code {
        color: $light;
        background-color: $dark;
    }
    a {
        color: $primary;
    }
}
